<div class="container console_container">
  <div class="console_tile \{{host.status}}" ng-repeat="host in hosts" ng-click="triggerConsole(host)">
      <div class="console_details">
        <p>\{{host.hostName}}</p>
        <p>Address: \{{host.address}}</p>
        <p>ID: \{{host.hostId}}</p>
        <p>(\{{host.chiakiStatus.registered ? 'registered' : 'unregistered'}})</p>
        <p>\{{host.chiakiStatus.discovered ? 'discovered' : ''}}</p>
      </div>
      <div ng-include="consoleImage(host)" class=console_image></div>
      <p class="console_state">State: \{{host.status}}</p>
  </div>
  <form method="POST" action="streamWindow" class="console_stream_form" id="stream_form">
    <input type="hidden" name="hostId"/>
  </form>
</div>